
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Pug Error Page Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Pug Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link rel="stylesheet" href="/web/css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>

<body>
    <!-- error -->
    <section class="w3l-error-9">
        <div class="error-page">
            <div class="wrapper-full">
                <div class="main-content">
                    <h2>OOPS</h2>
                    <h4>Sanırım Kayboldunuz </h4>
                    <p>Ana Sayfaya Dönmek İçin Lütfen Butona Tıkla...</p>
                    <!-- buttons -->
                    <div class="buttons">
                        <a href="/Blog/Index" class="btn brk-btn-bg brk-btn">
                            Ana Sayfaya Git
                        </a>
                    </div>
                </div>
                <div class="bottom-header">
                    <!-- copyright -->
                    <div class="copyrights text-center">
                        <p>© 2022 Tüm Hakları Saklıdır | Bu Sayfa Tasarımı: <a href="http://w3layouts.com/" target="_blank"></a>w3layouts Aittir </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //error -->
</body>

</html>